{% extends 'base.html' %}
{% load staticfiles}

<!-- {% block title %}Login{% endblock %} -->

{% block content %}
<div id="container">


	<div id="dummy"></div>
</div>


<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<body bgcolor="#F7F4F3">
<body link="blue">

{% load static %}
<link rel="stylesheet" href="{% static 'css/homepageStyle.css' %}">

<div class="row">
	<div class="col-3 menu">
	  <div id="sidebar">
	  <h1>Profile</h1>
			<p>
			Henry Co is a recent graduate of Seattle University who majored in Electrical Engineering 
			with a Specialty in Computer Engineering. He focuses on software and hardware, with special
			attention placed on IoT and embedded devices. He hopes to create technology that drives 
			innovation in the world and makes it a better place. 
			</p>

			<p>
			On a personal level, he has hobbies and interest in many other subjects, which include web
			development, history, video games, and music. 
			</p>
	  </div>
	</div>

	<div class="col-9">
	  <h1>Projects</h1>

		<div class="summary"> 
			<div class="responsive">
			  <div class="projectimg">
			    <a target="_blank" href="images/IoTSoundMeter1.jpg">
			      <img src="{% static "images/IoTSoundMeter1.jpg" %}"/>
			    </a>
			    <div class="desc">
						<h4>IoT Sound Level Meter</h4>
						<p>
						This proof of concept sound level meter monitors the length and intensity of sound 
						waves the user is exposed to in a day. The data and measurements are uploaded a 
						webpage using the ThingWorx platform, allowing the end user to make educated 
						decisions about 
						their aural health.
						</p>
			    </div>
			  </div>
			</div> 
		</div>

		<div class="summary"> 
			<div class="responsive">
			  <div class="projectimg">
			    <a target="_blank" href="images/IoTSmartGarbage1.jpg">
			      <img src="{% static "images/IoTSmartGarbage1.jpg" %}"/>
			    </a>
			    <div class="desc">
						<h4>IoT Smart Garbage Container</h4>
						<p>
						Using the ThingWorx platform, the IoT smart garbage container can notify the user 
						which container the trash should go into. The garbage bin has a camera that can scan 
						an item's bar code and match it to a database. The bin also has a sensor that measures 
						the height of trash in a bin and notifies the user when it is full. 
						</p>
			    </div>
			  </div>
			</div> 
		</div>

		<div class="summary"> 
			<div class="responsive">
			  <div class="projectimg">
			    <a target="_blank" href="images/LineFollowRobo.jpg">
			      <img src="{% static "images/LineFollowRobo.jpg" %}"/>
			    </a>
			    <div class="desc">
						<h4>Line Following Robot</h4>
						<p>
						For a few labs in my embedded systems class, I worked with a line following robot that
						ran on a PIC32. This robot was able to follow a line of black tape on the floor using
						optocouplers. I wrote C code and interrupts to control the behavior of the robot when
						the black tape was detected.
						</p>
			    </div>
			  </div>
			</div> 
		</div>

		<div class="summary"> 
			<div class="responsive">
			  <div class="projectimg">
			    <a target="_blank" href="images/AutoPuppetShow.jpg">
			      <img src="{% static "images/AutoPuppetShow.jpg" %}"/>
			    </a>
			    <div class="desc">
						<h4>Automated Puppet Project</h4>
						<p>
						This project used a Raspberry Pi, a breadboard circuit, four stepper motors, and encoders
						to operate a controllable puppet. The user could enter parameters into a program that 
						controlled which motors were used, the duty cycle of the motors, and the direction of the 
						motor rotation. 
						</p>
			    </div>
			  </div>
			</div> 
		</div>

		<div class="summary"> 
			<div class="responsive">
			  <div class="projectimg">
			    <a target="_blank" href="images/WinchSimulator.png">
			      <img src="{% static "images/WinchSimulator.png" %}"/>
			    </a>
			    <div class="desc">
						<h4>Winch Simulator</h4>
						<p>
						My senior design project involved creating a web application for the testing and development
						of winches for Ingersoll Rand. The team had to create an updated application that was more 
						accurate, user-friendly, and easily updatable. The program had a database that contained
						information about winches and its attributes. Winch Simulator would also display data about
						a winch performance curves based on parameters selected or customized by the user.
						</p>
			    </div>
			  </div>
			</div> 
		</div>

		<div class="summary"> 
			<div class="responsive">
			  <div class="projectimg">
			    <a target="_blank" href="images/TemplateWriter.png">
			      <img src="{% static "images/TemplateWriter.png" %}"/>
			    </a>
			    <div class="desc">
						<h4>Template Writer</h4>
						<p>
						When I wrote emails for one of my projects, I typically structured the emails a certain
						way. The format remained the same except for certain content that was personalized for a
						particular audience. I realized that I could write these emails faster and more efficiently
						if I created templates for certain blocks of text in each email.
						</p>
			    </div>
			  </div>
			</div> 
		</div>

	</div>
</div>

</body>
</html>
{% endblock %}